
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1484210509313'); /* IE9*/
  src: url('iconfont.eot?t=1484210509313#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1484210509313') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1484210509313') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1484210509313#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-renwushijian:before { content: "\e61a"; }

.icon-shangbao:before { content: "\e706"; }

.icon-luxian:before { content: "\e606"; }

.icon-bianhao:before { content: "\e619"; }

.icon-fuzeren:before { content: "\e686"; }

.icon-miaoshu:before { content: "\e60f"; }

.icon-chacha:before { content: "\e615"; }

.icon-chacha1:before { content: "\e69e"; }

.icon-duihao:before { content: "\e616"; }

.icon-duihao1:before { content: "\e612"; }

